@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes ticker {
    0% {
        transform: translateX(1200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.ticker-container {
    position: relative;
    width: 100%;
}

.ticker-content {
    white-space: nowrap;
    gap: 15rem; /* Adjust spacing between items */
    animation: ticker 90s linear infinite;
}

html {
    font-family: 'Jost', sans-serif;
  }
